body{
    /* font-family: Josefin-Sans!important; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
display: flex;
/* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.main-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    /* background-color:  #e9ecef; */
}


.header{
    flex: 0.15;
    background-color: #54C7C3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 13%;
    height: 90px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-btn i {
    font-style: normal;
    position: relative;
    bottom: 12px;
}
.logo-child{
    width: 100%;
    height: 100%;
    /* background-color: azure; */
    /* background-image:url(./logo-bng.png); */
    background-size: 40% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-child img {
    width: 40%;
    height: 60%;
}
.beta-div{
    width: 12%;
    height: 80%;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.beta-div span{
    color: #fff;
    
    
}

.dis2-cont{
    font-family: Josefin-Sans-light;
    flex: 1;
    /* background-color:  #e9ecef; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.main-box{
    width: 80%;
    height: 95%;
    /* display: inline; */
   
}
.card{
    border: 1px solid lightgray;
    background-color: transparent;
    
    display: inline-block;
}

.btn-primary {
    color: black;
    background-color:#fff;
    border-color: lightgray;
}
button{
    width: 100%;
    border: 1px solid #10266b;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    
    height: 38px;
    }
#main-box{
    display: none;
    width: 55%;
    height: 100%;
    /* background-color: aquamarine; */
    /* border-radius: 10px; */
}
.text-heading{
   text-align: center;
color:#54C7C3;

}
.text-heading h1{
    font-weight: lighter;
    font-size:50pt;
    line-height: 110px;
}
.select-courses{
    width: 100%;
    height: 50%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course1{
    width: 33%;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.course2{
    width: 33%;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.course3{
    width: 33%;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sel-course after */
/* .card{
width: 100%;
} */
#quiz-app{
    display: none;
    width: 45%;
    height:75%;
    
    /* background-color: #54C7C3; */
}
#first-card{
    width: 100%;
    /* height: 100%; */
    
}
#sec-card{
    display: none;
}
#third-card{
    display: none;
}
#fourth-card{
    display: none;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    background-color: #54C7C3;
    color: #fff;
}
button {
    width: 100%;
    border:none;
    background-color:#54C7C3 ;
    cursor: pointer;
    outline: none;
    height: 38px;
    color: #fff;
}
.card-body1 {
    background-color: rgb(15, 14, 14);
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.card1{
    
    border-radius: 10px;
}
.card-body1 b{
    color: #fff;
    position: relative;
    left: 10px;
    /* font-family:; */
}
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    background-color:wheat;
}
.swal-button {
    background-color:#54C7C3;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}

/* #result-box{
    display: none;
    text-align: center;
} */
/* quiz question css */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    background-color: #333;
} 
.container{
    background-color: #54C7C3;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
    position: relative;
     bottom: 75px;
}
.container > p{
    font-size: 32px;
}
.question{
    width: 75%;
}
.options{
    position: relative;
    padding-left: 40px;
}
#options label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}
.options input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
    display: block;
}
.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	 background: white; 
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
    background: #555;
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}
.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}
.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}
.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}

 */
