body{
    /* font-family: Josefin-Sans; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
display: flex;
/* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.main-container{
    display: flex;
    flex: 1;
    flex-direction: column;
}


.header{
flex: 0.1;
background-color:#54C7C3;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo{
    width: 13%;
    height: 90px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-child{
    width: 100%;
    height: 100%;
    /* background-color: azure; */
    /* background-image:url(./logo-bng.png); */
    background-size: 40% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-child img {
    width: 40%;
    height: 60%;
}
.beta-div{
    width: 12%;
    height: 80%;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.beta-div span{
    color: #fff;
    }
  
.dis1-cont{
    width: 22%;
    height: 87%;
    /* background-color:wheat; */
    position: relative;
    left: 40%;
    /* display: flex;
    /* justify-content: center;  */
    /* font-family: "Segoe UI""Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
}
/* x */

    .mt-50 {
        margin-top: 50px;
    }

.main-heading{
   text-align: center;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}
body {
    margin: 0;
    font-family: Josefin-Sans!important;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.main-heading>h1, .main-text {
    line-height: 1.2;
    font-family: Josefin-Sans-light;
}
.main-heading>h1 {
    font-size: 5rem;
    color:#54C7C3;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.main-heading {
    text-align: center;
}
.main-text {
    font-size: 3.5rem;
}
.main-heading>h1, .main-text {
    line-height: 1;
    font-family: Josefin-Sans-light;
}
.lead-1{
    font-size: 1.25rem;
    font-weight: 300;
    font-family: Josefin-Sans-light;
}
.lead-2{
    font-size: 1.25rem;
    font-weight: 300;
    font-family: Josefin-Sans-light;
}
.bold {
    font-weight: 700!important;
}
.lead-bold {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: Josefin-Sans-light;
    line-height: 3rem;
}
.cont-btn {
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 5px 10px;
    /* align-items: center; */
    text-align: center;
    /* display: flex; */
    box-shadow: 2px 4px 8px 2px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
.cont-btn i {
    position: relative;
    bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .main-heading{
        text-align: center;
        width: 80%;
        position: relative;
        left: 10%;
     }
    .logo{
        width: 20%;
        height: 90px;
        /* border: 1px solid yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .beta-div{
        width: 18%;
        height: 80%;
        /* border: 1px solid yellow; */
        justify-content: center;
        align-items: center;
        display: flex;
    }
  }

  @media only screen and (max-width: 375px) {
    .main-heading{
        text-align: center;
        width: 80%;
        position: relative;
        left: 10%;
     }
    .logo{
        width: 38%;
        height: 90px;
        /* border: 1px solid yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .beta-div{
        width: 22%;
        height: 80%;
        /* border: 1px solid yellow; */
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .main-heading{
        height: 50px;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .header{
        width: 105%;
    }
    .main-heading{
        text-align: center;
        width: 80%;
        position: relative;
        left: 10%;
     }
    .logo{
        width: 42%;
        height: 90px;
        /* border: 1px solid yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .beta-div{
        width: 27%;
        height: 80%;
        /* border: 1px solid yellow; */
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .main-heading {
        text-align: center;
        width: 65%;
        position: relative;
        left: 7%;
    }
  }

