body{
    /* font-family: Josefin-Sans; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
display: flex;
/* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.main-container{
    display: flex;
    flex: 1;
    flex-direction: column;
}


.header{
flex: 0.1;
background-color: #10266b;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo{
    width: 13%;
    height: 90px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-child{
    width: 100%;
    height: 100%;
    /* background-color: azure; */
    /* background-image:url(./logo-bng.png); */
    background-size: 40% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-child img {
    width: 40%;
    height: 60%;
}
.beta-div{
    width: 12%;
    height: 80%;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.beta-div span{
    color: #fff;
    }

.dis1-cont{
    width: 22%;
    height: 87%;
    /* background-color:wheat; */
    position: relative;
    left: 40%;
    /* display: flex;
    /* justify-content: center;  */
    /* font-family: "Segoe UI""Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
}
/* x */
.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    .g-button{
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    .my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
    }
    .header-title{
    margin: 5rem 0;
    }
    h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:#4c5357;
    }
    h2{
    color: #5e8396;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    }
    .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    @media screen and (max-width:480px){
    h1{
    font-size: 26px;
    }
    h2{
    font-size: 20px;
    }
    }
    
    .login{
display: none;
}




